@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  cursor: url(/images/logo.svg), auto;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #f2f2f2;
}

.principal {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
}

.container {
  display: flex;
  max-width: 60rem;
  width: 100%;
  outline: 2px solid #f2796e;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: hidden;
}

.content {
  width: 50%;
  background: #f2796e;
  padding: 2rem;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(images/illustration.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.5rem;
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

#form {
  width: 60%;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  justify-content: center;
  position: relative;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

#form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
}

#form i {
  position: absolute;
  padding: 1.2rem 0rem;
  margin-left: 1rem;
  font-size: 1.8rem;
  z-index: 9999999999;
}

.errorName,
.errorEmail,
.errorPassword {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
  color: #dd6c61;
  margin-top: 0.5rem;
}

.fa-circle-exclamation {
  color: red;
  right: 1rem;
  opacity: 0;
}

.fa-circle-check {
  color: green;
  right: 1rem;
  opacity: 0;
}

#form input {
  cursor: pointer;
  width: 100%;
  height: 4rem;
  border: 2px solid #c4c4c4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 0 3rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#form div {
  position: relative;
}

#form input::placeholder {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
}

#form input:focus {
  border: 2px solid #f2796e;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

#form button {
  background: #f2796e;
  border: rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  outline: none;
  width: 100%;
  height: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1rem;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

#form button:hover {
  background: #da6e64;
}

.socials {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.socials span {
  font-size: 1.2rem;
  font-weight: 500;
}

.socials a {
  text-decoration: none;
  color: #f2796e;
  font-weight: 600;
}

.socials a:hover {
  text-decoration: underline;
}

.socials .or {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.socials__btn {
  cursor: pointer;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.socials__btn span {
  font-weight: bold;
  font-size: 1.3rem;
}

.socials__btn img {
  width: 2rem;
  margin-right: 0.5rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  padding: 5px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  border: 2px solid #f2796e;
}

.facebook {
  background: #4f70b5;
  color: #fff;
  border: 2px solid transparent;
}

.mensajeExito-r {
  position: relative;
}

#mensajeExito {
  position: absolute;
  z-index: 9999999999999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5rem 10rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

#mensajeExito h2 {
  color: green;
  font-weight: bold;
  font-size: 2rem;
  width: 20rem;
  text-align: center;
}

#mensajeExito span {
  position: absolute;
  color: green;
  top: -4rem;
  right: -7rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

#mensajeExito span:hover {
  color: #000;
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 15rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
  }

  .content {
    display: flex;
    width: 100%;
    background: #f2796e;
    position: relative;
  }

  .image {
    display: none;
  }

  .text {
    position: relative;
  }

  #form {
    max-width: 50rem;
    width: 100%;
    margin: auto;
  }
}
